In [1]:
# bs4 - Beautiful Soup
# urllib.request
import bs4
import urllib.request as url

In [2]:
path = "https://www.flipkart.com/search?q=mobile&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

In [3]:
url.urlopen(path)

In [4]:
response = url.urlopen(path)

In [5]:
response

In [6]:
page = bs4.BeautifulSoup(response)

In [7]:
page.find('div', class_='_3wU53n')

In [8]:
title = page.find('div', class_='_3wU53n')

In [9]:
title.text

'Redmi 8 (Onyx Black, 64 GB)'

In [18]:
price = page.find('div', class_='_1vC4OE _2rQ-NK')

In [19]:
price.text

'₹9,799'

In [14]:
titleList = page.find_all('div', class_='_3wU53n')
priceList = page.find_all('div', class_='_1vC4OE _2rQ-NK')

In [15]:
len(titleList), len(priceList)

(24, 24)

In [20]:
for i in range(len(titleList)):
    print(titleList[i].text)
    print(priceList[i].text)
    print("*" * 20)

Redmi 8 (Onyx Black, 64 GB)
₹9,799
********************
Redmi 8 (Sapphire Blue, 64 GB)
₹9,799
********************
POCO X2 (Atlantis Blue, 64 GB)
₹17,499
********************
Realme 6 (Comet Blue, 64 GB)
₹15,999
********************
POCO X2 (Matrix Purple, 64 GB)
₹17,499
********************
Realme Narzo 10A (So White, 32 GB)
₹8,999
********************
Realme Narzo 10A (So White, 64 GB)
₹9,999
********************
Realme Narzo 10A (So Blue, 64 GB)
₹9,999
********************
Realme Narzo 10A (So Blue, 32 GB)
₹8,999
********************
Realme 6 (Comet White, 64 GB)
₹15,999
********************
Apple iPhone XR (Black, 64 GB)
₹46,999
********************
Realme Narzo 10 (That Green, 128 GB)
₹11,999
********************
Realme Narzo 10 (That White, 128 GB)
₹11,999
********************
Realme Narzo 10 (That Blue, 128 GB)
₹11,999
********************
Motorola G8 Power Lite (Royal Blue, 64 GB)
₹9,499
********************
Realme 6 Pro (Lightning Orange, 64 GB)
₹17,999
********************
Realme 6 Pro (Lightning Blue, 64 GB)
₹17,999
********************
Motorola G8 Power Lite (Arctic Blue, 64 GB)
₹9,499
********************
Apple iPhone SE (Black, 64 GB)
₹40,999
********************
Realme 6 Pro (Lightning Blue, 128 GB)
₹18,999
********************
Apple iPhone SE (White, 64 GB)
₹40,999
********************
Apple iPhone XR ((PRODUCT)RED, 64 GB)
₹46,999
********************
OPPO A9 2020 (Marine Green, 128 GB)
₹13,990
********************
OPPO A9 2020 (Vanilla Mint, 128 GB)
₹16,878
********************

In [23]:
# url.urlopen('https://www.naukri.com/')

In [25]:
dataset = {
    "product_name" : [],
    "prodcut_price" : []
}

In [26]:
for i in range(1,5):
    path = "https://www.flipkart.com/search?q=mobile&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(i)
    response = url.urlopen(path)
    page = bs4.BeautifulSoup(response)
    
    titleList = page.find_all('div', class_='_3wU53n')
    priceList = page.find_all('div', class_='_1vC4OE _2rQ-NK')
    
    for j in range(len(titleList)):
        dataset['product_name'].append(titleList[j].text)
        dataset['prodcut_price'].append(priceList[j].text)

In [28]:
import pandas as pd

In [29]:
df = pd.DataFrame(dataset)

In [31]:
df.head()

                     product_name prodcut_price
0     Redmi 8 (Onyx Black, 64 GB)        ₹9,799
1  Redmi 8 (Sapphire Blue, 64 GB)        ₹9,799
2  POCO X2 (Atlantis Blue, 64 GB)       ₹17,499
3        I Kall K700 (Red, 32 GB)        ₹6,999
4    Realme 6 (Comet Blue, 64 GB)       ₹15,999

In [32]:
df.tail()

                        product_name prodcut_price
91                      Nokia 105 SS        ₹1,309
92                      Nokia 105 SS        ₹1,349
93  Vivo Z1Pro (Sonic Black, 128 GB)       ₹17,990
94                           Lava A1          ₹953
95                           Lava A1          ₹941

In [33]:
df.shape

(96, 2)